<div class="container">
  <h1>Neural Network Digit Recognition Demonstration</h1>

  <div class="demo-grid">
    <div class="demo-section">
      <h2>Interactive Recognition</h2>
      <p class="instructions">Draw a digit or click "Show Random Sample"</p>
      <app-drawing-canvas
        (imageData)="onImageData($event)"
        [inputImageData]="currentImageData"
      ></app-drawing-canvas>
      <div class="button-group">
        <button (click)="showRandomImage()">Show Random Sample</button>
        <button (click)="clear()">Clear</button>
      </div>
      <div class="results-box" *ngIf="prediction !== -1">
        <div class="prediction label-text">Prediction: {{ prediction }}</div>

        <div *ngIf="showingMnistSample" class="label-text">
          Ground Truth: {{ randomImageLabel }}
        </div>
        <div class="activations" *ngIf="prediction >= 0">
          <app-activation-display
            [activations]="hiddenActivations"
            label="Hidden Layer"
            orientation="row"
          ></app-activation-display>
          <app-activation-display
            [activations]="outputActivations"
            label="Output Layer"
            orientation="row"
          ></app-activation-display>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2>Model Information</h2>
    <p>
      This model was trained on the MNIST dataset, which consists of 60,000
      handwritten digits. The model has an input layer of 784 neurons (28x28
      pixels), one hidden layer with 20 neurons, and an output layer with 10
      neurons (one for each digit).
    </p>
    <p>
      The model uses the sigmoid activation function for the hidden layer and
      softmax for the output layer. It was trained over 10 epochs using batch
      gradient descent with a batch size of 64 and a learning rate of 0.01. The
      model achieves 94% accuracy on the test set.
    </p>
  </div>
  <div>
    <h2>Author Information</h2>
    <p>
      The model and this demonstration project were created by Matthew Evans
      during the Spring 2025 semester as part of an independent study of neural
      networks.
    </p>
  </div>
  <div class="footer">
    <div class="contact">
      <a href="mailto:matthewevans87@gmail.com" aria-label="Email"> Email </a>
      <a
        href="https://github.com/matthewevans87"
        target="_blank"
        aria-label="GitHub"
        >GitHub</a
      >
      <a
        href="https://linkedin.com/in/matthew-evans-a935288"
        target="_blank"
        aria-label="LinkedIn"
      >
        LinkedIn
      </a>
    </div>
  </div>
</div>
